  .mdl-layout__content {
  	padding: 60px;
  }

  .demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    float: left;
    margin: 1rem;
    position: relative;
  }
  
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background: #6ebe44;
  }
  
  